@page
@model Recruitis.Pages.Risks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Risk[0].RiskLabel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Risk[0].RiskID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Risk) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RiskLabel)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.RiskID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RiskID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RiskID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RiskID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
